<form #myForm="ngForm" (ngSubmit)="createUser(myForm.value, myForm.valid)">
  <div>昵称：<input ngModel required minlength="6" name="nickname" type="text" pattern="[a-zA-Z0-9]+"></div>
  <div [hidden]="!myForm.form.hasError('required','nickname')">昵称是必填项</div>
  <div [hidden]="!myForm.form.hasError('minlength','nickname')">昵称的最小长度是6</div>
  <div>邮箱：<input ngModel name="email" type="email"></div>
  <div>手机号：<input ngModel appMobileValidator name="mobile" type="number" (input)="onMobileInput(myForm)"></div>
  <div [hidden]="mobileValid || mobilePristine">
    <div [hidden]="!myForm.form.hasError('mobile','mobile')">手机号不合法</div>
  </div>
  <div ngModelGroup="passwordInfo" appPasswordValidator>
    <div>密码：<input ngModel required  name="password" type="password"></div>
    <div [hidden]="!myForm.form.hasError('required','passwordInfo.password')">密码是必填项</div>
    <div>确认密码：<input ngModel name="passwordConfirm" type="password"></div>
  </div>
  <div [hidden]="!myForm.form.hasError('password','passwordInfo')">
    {{myForm.form.getError('password','passwordInfo')?.description}}
  </div>
  <button type="submit">注册</button>
</form>
